<h2>{{article.title}}</h2><br>
<Img src={{article.image}}>
  <h4><i>By </i><strong>{{article.author}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{moment-from-now article.date}}</h4>
<h4>{{article.body}}</h4>
<button {{action 'delete' article}}>Delete</button>
