<div class="well">
  <h1>Welcome</h1>
</div>

<h3>Todays News:</h3>

{{#each model as |article|}}
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <img src={{article.image}}>
      </div>
      <div class="col-sm-6">
        <h2>{{article.title}}</h2><br>
        <h4>{{article.body}}</h4>
        <br>
        <br>
        <p>By <strong>{{article.author}}</strong><span class="date">{{article.date}}</span></p>
      </div>
    </div>
    <!-- <button {{action 'update' article}}>Update Article</button>
    <button {{action 'delete' article}}>Delete Article</button> -->
  </div>
{{/each}}
{{new-article saveArticle2="saveArticle3"}}
